
body {
	font-family: "Calibry", sans-serif;
	font-size: 12px;
	line-height: 150%;
	margin: 0;
}

.container {
	width: 70%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: gray;

}

a:honer {
	cursor: pointer;
}

h1 {
	color: purple;
}

h4 {
	margin: 10px 0 5px 0;
	font-size: 17px;
	color: darkblue;

}